
/* 타이틀 */

 .title
      {
      color:white;
      background-color:#C5DDF1;
      text-align:center;
      font-family:STHupo, Broadway, "Verdana Pro Cond Black";
      padding:20px;
      }


#navigation 
  {
  width:100%;
  height:25px;
  background-color:#C5DDF1;
  }

#navigation ul 
  {
  margin:0;
  padding:0;
  }

#navigation ul li
  {
  display:inline;
  height:25px;
  list-style:none;
  color:white;
  text-align:center;
  margin-left:25px;
  }