
/* 타이틀 */

 .title
      {
      color:white;
      background-color:#C5DDF1;
      text-align:center;
      font-family:STHupo, Broadway, "Verdana Pro Cond Black";
      padding:20px;
      }